<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线笔记</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <div class="jumbotron">
   <div class="container">
       <h1 class="display-4 text-center">Notes App_Vue.js</h1>
   </div>      
</div>
<div class="container">
        <button type="button" class="btn btn-primary">添加笔记</button>
</div>
<div class="container">
    <div class="card" v-for="note in notos">
      <div class="card-body">
       <h2 class="card-title">{{title}}</h2>
        <textarea class="form-control" rows="3" v-model="note.text">{{note.text}}</textarea>
        <p class="card-text">{{note.time}} {{note.text.length}}字</p>
      </div>
</div>
</div>
</div>
   
  <script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>     
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>      
<script src="js/style.js"></script>
</body>
</html>